<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Smarttech</title>
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Content/Admin/js/jquery-2.1.1.js"></script>
    <script src="~/Scripts/selectize.js"></script>

    <link href="~/Content/Admin/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/Admin/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Toastr style -->
    <link href="~/Content/Admin/css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <!-- Gritter -->
    <link href="~/Content/Admin/js/plugins/gritter/jquery.gritter.css" rel="stylesheet">

    <link href="~/Content/Admin/css/animate.css" rel="stylesheet">
    <link href="~/Content/Admin/css/style.css" rel="stylesheet">
    @*<link rel="stylesheet" href="~/Content/assets/css/selectize.css">*@
    <style>
        .no-sort::after {
            display: none !important;
        }

        .no-sort {
            pointer-events: none !important;
            cursor: default !important;
        }

        #table_length {
            position: absolute;
            margin-top: 42px;
        }
    </style>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/colreorder/1.4.1/css/colReorder.dataTables.min.css" />
    @*<link href="~/Scripts/summernote.css" rel="stylesheet" />
    <script src="~/Scripts/summernote.js"></script>*@
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.9/summernote.js"></script>

    @*<script src="~/Scripts/ckeditor0/ckeditor.js"></script>*@
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js
"></script>
    <script src="https://cdn.datatables.net/buttons/1.0.3/js/buttons.print.min.js"></script>
    <script src="https://cdn.datatables.net/colreorder/1.4.1/js/dataTables.colReorder.min.js"></script>
    @*<link href="~/Content/footable.core.css" rel="stylesheet" />

    <!-- jQuery -->
    <script src="~/Scripts/selectize.js"></script>
    @*<script src="~/Scripts/footable.js" type="text/javascript"></script>
        <script src="~/Scripts/footable.filter.js" type="text/javascript"></script>
        <script src="~/Scripts/footable.sort.js" type="text/javascript"></script>

        <script src="~/Scripts/excellentexport.min.js" type="text/javascript"></script>*@

    <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->

    @*<link href="http://fonts.googleapis.com/earlyaccess/droidarabickufi.css" rel="stylesheet">*@

    <style type="text/css">
        input, select, textarea {
            max-width: 100%;
        }

        .form-style-3 {
            max-width: 100%;
            font-family: "Droid Arabic Kufi", "Lucida Sans Unicode", "Lucida Grande", sans-serif;
        }

            .form-style-3 label {
                display: block;
                margin-bottom: 10px;
            }

                .form-style-3 label > span {
                    float: right;
                    width: 20px;
                    color: #F072A9;
                    font-weight: bold;
                    font-size: 13px;
                    text-shadow: 1px 1px 1px #fff;
                }

            .form-style-3 fieldset {
                border-radius: 10px;
                -webkit-border-radius: 10px;
                -moz-border-radius: 10px;
                margin: 0px 0px 10px 0px;
                border: 1px solid #004489;
                padding: 20px;
                background: #F4F4FF;
                box-shadow: inset 0px 0px 15px #CADFF5;
                -moz-box-shadow: inset 0px 0px 15px #CADFF5;
                -webkit-box-shadow: inset 0px 0px 15px #CADFF5;
            }

                .form-style-3 fieldset legend {
                    color: #004489;
                    border-top: 1px solid #004489;
                    border-left: 1px solid #004489;
                    border-right: 1px solid #004489;
                    border-radius: 5px 5px 0px 0px;
                    -webkit-border-radius: 5px 5px 0px 0px;
                    -moz-border-radius: 5px 5px 0px 0px;
                    background: #F4F4FF;
                    padding: 0px 8px 3px 8px;
                    box-shadow: -0px -1px 2px #CADFF5;
                    -moz-box-shadow: -0px -1px 2px #CADFF5;
                    -webkit-box-shadow: -0px -1px 2px #CADFF5;
                    font-weight: normal;
                    font-size: 25px;
                    text-align: right;
                }

            .form-style-3 textarea {
                width: 250px;
                height: 100px;
            }

            .form-style-3 input[type=text],
            .form-style-3 input[type=date],
            .form-style-3 input[type=datetime],
            .form-style-3 input[type=number],
            .form-style-3 input[type=search],
            .form-style-3 input[type=time],
            .form-style-3 input[type=url],
            .form-style-3 input[type=email],
            .form-style-3 select,
            .form-style-3 textarea {
                border-radius: 3px;
                -webkit-border-radius: 3px;
                -moz-border-radius: 3px;
                border: 1px solid #004489;
                outline: none;
                color: #004489;
                padding: 5px 8px 5px 8px;
                box-shadow: inset 1px 1px 4px #CADFF5;
                -moz-box-shadow: inset 1px 1px 4px #CADFF5;
                -webkit-box-shadow: inset 1px 1px 4px #CADFF5;
                background: #F4F4FF;
            }

        .floatForm {
            float: left;
            margin-top: 2px;
        }

        .form-style-3 input[type=submit],
        .form-style-3 input[type=button] {
            background: #46A2FF;
            padding: 5px 15px 5px 15px;
            color: #ffffff;
            border-radius: 3px;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            font-weight: bold;
        }

        .required {
            color: red;
            font-weight: normal;
        }

        .label {
            font-family: "Droid Arabic Kufi"
        }

        .nav > li > a {
            font-family: "Droid Arabic Kufi";
            font-size: 12px;
        }
    </style>
    <style>


        .form-horizontal .control-label {
            text-align: right;
            font-size: 18px;
        }

        .menu-area ul li a {
            color: #545454;
        }

        .sticky ul li a {
            color: white;
        }



        html {
            height: 100%;
            box-sizing: border-box;
        }

        *,
        *:before,
        *:after {
            box-sizing: inherit;
        }

        body {
            font-family: "Helvetica Neue", Arial, sans-serif;
        }

        .table {
            direction: rtl;
        }

            .table th {
                text-align: right;
            }
    </style><style>
    .table {
        direction: ltr;
    }

        
        .table th {
            text-align: left;
        }
        .Reslanglogin{
            float:right;
            padding:14px;
            padding-right:0px;
        }
        .logot{
            float:right;
            padding:14px;
            padding-left:4px;
        }
        .wrapper-content{
            overflow-x:auto;
        }
        .btn-circle{
            font-size:15px;
            padding: 3px 0;
        }
</style>
    
<style>
    input[type=checkbox] {
        margin: 12px 0 0;
    }
</style>
    <style>
        .btn_statics {

                    background-color: #2f4050;
                    border-color: #2f4050;
                    color: #FFFFFF;
        }
        .note-editor.note-frame .note-editing-area .note-editable {
            min-height: 250px;
        }
    </style>

</head>

<body>
    <div>
        <div id="wrapper">
            <nav class="navbar-default navbar-static-side" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="nav-header">
                            <div class="dropdown profile-element">
                                <span>
                                </span>
                                <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                    <span class="clear">
                                        <span class="block m-t-xs">
                                            <strong class="font-bold"><span>@User.Identity.Name</span></strong>
                                        </span>
                                    </span>
                                </a>

                            </div>

                        </li>
                       
                        <li>
                            <a href="~/Products/Index"><i class="fa fa-home"></i> <span class="nav-label">Product View</span></a>

                        </li>
                        
                    </ul>

                </div>
            </nav>

                

            <div id="page-wrapper" class="white-bg dashbard-1">
                <div class="row border-bottom">
                    <nav class="navbar navbar-static-top banner" role="navigation" style="margin-bottom: 0">
                        <div class="navbar-header">
                            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="#"><i class="fa fa-bars"></i> </a>
                            
                        </div>
                       
                        

                    </nav>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="wrapper wrapper-content">
                            @RenderBody()
                        </div>

                    </div>
                </div>
                <div class="footer">
                    <div class="pull-right">
                    </div>
                    <div>
                        <p>Copyright @DateTime.Now.Year mubarak all right reserved.</p
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- footer section start-->
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/html5-qrcode.js"></script>
    @*<script src="~/Scripts/printThis.js"></script>*@
    

    <!-- Mainly scripts -->
    <script src="~/Content/Admin/js/bootstrap.min.js"></script>
    <script src="~/Content/Admin/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/Content/Admin/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

    <!-- Flot -->
    <script src="~/Content/Admin/js/plugins/flot/jquery.flot.js"></script>
    <script src="~/Content/Admin/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="~/Content/Admin/js/plugins/flot/jquery.flot.spline.js"></script>
    <script src="~/Content/Admin/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="~/Content/Admin/js/plugins/flot/jquery.flot.pie.js"></script>

    <!-- Peity -->
    <script src="~/Content/Admin/js/plugins/peity/jquery.peity.min.js"></script>
    <script src="~/Content/Admin/js/demo/peity-demo.js"></script>

    <!-- Custom and plugin javascript -->
    <script src="~/Content/Admin/js/inspinia.js"></script>
    <script src="~/Content/Admin/js/plugins/pace/pace.min.js"></script>

    <!-- jQuery UI -->
    <script src="~/Content/Admin/js/plugins/jquery-ui/jquery-ui.min.js"></script>

    <!-- GITTER -->
    <script src="~/Content/Admin/js/plugins/gritter/jquery.gritter.min.js"></script>

    <!-- Sparkline -->
    <script src="~/Content/Admin/js/plugins/sparkline/jquery.sparkline.min.js"></script>

    <!-- Sparkline demo data  -->
    <script src="~/Content/Admin/js/demo/sparkline-demo.js"></script>

   


    <!-- Toastr -->
    <script src="~/Content/Admin/js/plugins/toastr/toastr.min.js"></script>
</body>

</html>
